.x-content-wrapper {
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  /* margin: auto; */
}

.x-content {
  width: 100%;
}

.y-content-wrapper {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
}

.y-content {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
