.x-content-wrapper {
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.x-content {
  width: 100%;
}

.y-content-wrapper {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
}

.y-content {
  min-height: 50vw;
  max-height: 50vw;
  overflow-y: auto;
}

.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
