<mat-toolbar color="primary">
  <mat-icon>celebration</mat-icon>
  <span>Jeopardy</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <button (click)="revealAnswers()" mat-button>
        <mat-icon *ngIf="!showAnswers">visibility_off</mat-icon>
        <mat-icon *ngIf="showAnswers">visibility</mat-icon>
      </button>
      <button (click)="newQuestion()" mat-button style="float: right">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>

  <!-- todo: lock answers, add realtime show, reset-->

  <div class="container-wrapper">
    <div class="container">
      <app-contestant (lockedInEvent)="lockedIn($event)"></app-contestant>
    </div>
  </div>
  <div class="container-wrapper">

    <div class="container">
      <span style="display: flex; justify-content: center;">Answers</span>
      <hr style="margin-bottom: 40px;" />
      <app-guess *ngFor="let contestant of contestants | async" [contestant]="contestant" [showAnswers]="showAnswers">
      </app-guess>
    </div>
  </div>

</div>
