.guess {
  margin-top: 5px;
  margin-bottom: 5px;
}

.guess-highlight {
  animation: splash .5s linear;
}

.guess mat-card-title {
  font-size: medium;
}

@keyframes splash {
  0% {
    background-color: #ff4081;
  }
  100% {
    background-color: transparent;
  }
}
